name: Regular Test Run with reports

on:
  workflow_dispatch:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Install dependencies
        run: |
          pip install --upgrage pip
          pip install -r requirements.txt

      - name: Run tests
        run: robot --pythonpath resources outputdir results tests
        
