name: Regular Test Run with reports

on:
  workflow_dispatch:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        continue-on-error: true
        run: |
          robot --pythonpath resources \
          --outputdir results \
          --variable "BROWSER:Headless Chrome" \
          tests
        env:
          BASE_URL: ${{ secrets.BASE_URL }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./results
          name: robot-test-results
          retention-days: 3